<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Basic Starter Pack | Simplon</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Place favicon.ico in the root directory -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css">
  <link rel="stylesheet" href="css/main.css">
</head>
  <body>

  <div class="ui inverted segment">
    <div id="main_menu" class="ui inverted secondary pointing menu">
      <a class="active item" href="acceuil">Acceuil</a>
      <a class="item" href="formation">Formation</a>
      <a class="item" href="promotions">Promotions</a>
      <a class="item" href="actu">Actu & events</a>
      <a class="item" href="contact">Contact</a>
    </div>
  </div>